/* Version: head relative positioned */

.portlet-vp {
    border: 5px ridge;

    position: relative;
}

.portlet-vp .portlet-vp-head {
    width: 102%;
    height: 20px;
    border: 5px ridge;
    background-color: blue;
    
    position: relative;
    top: -5px;
    left: -5px;  
}