.portlet {
    border: 5px ridge;
}

.portlet .portlet--head {
    min-height: 20px;
    border-bottom: 5px ridge;
    background-color: blue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.portlet--head img {
    width: 16px;
    height: 16px;
    color: white;
    justify-self: flex-start;
}

.portlet--head h6 {
    color: white;
    justify-self: flex-start;
}

.portlet--head button {
    border: 1.5px ridge;
    padding: 0 3px;
    margin: 3px;
}